/* =========================
   XV AÑOS EVELYN
   Butterfly Garden
========================= */


/* Reset básico */

*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:'Poppins', sans-serif;

overflow-x:hidden;

}



.hero{

height:100vh;

width:100%;

position:relative;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}



/* FOTO */

.hero-image{

position:absolute;

width:100%;

height:100%;

object-fit:cover;


/* mueve la foto hacia abajo */

object-position:center 58%;


}




/* CAPA PARA QUE LEAN LOS TEXTOS */

.overlay{

position:absolute;

inset:0;

background:

linear-gradient(
rgba(255,255,255,.10),
rgba(90,50,60,.35)
);

z-index:1;

}



/* TEXTO */

.content{

position:absolute;

top:58%;

left:50%;

transform:translate(-50%, -50%);

z-index:3;

text-align:center;

width:90%;

}



.title-small{


font-family:'Poppins', sans-serif;

font-size:32px;

letter-spacing:5px;

color:#ffffff;

text-shadow:0 2px 3px rgba(0,0,0,.35);

font-weight:400;


margin-bottom:10px;


}




h1{

font-family:'Ballet', cursive;

font-size:10px;

font-weight:400;

color:white;

line-height:1.15;

margin-bottom:20px;

text-shadow:
0 2px 3px rgba(0,0,0,.75);

}




.date{


font-family:'Poppins', sans-serif;


font-size:32px;


font-weight:300;


color:#ffffff;

text-shadow:0 2px 3px rgba(0,0,,0,.45);


letter-spacing:2px;


margin-bottom:45px;


}





button{


background:#D98CA3;


color:white;


border:none;


padding:15px 45px;


border-radius:50px;


font-family:'Poppins', sans-serif;


font-size:16px;


cursor:pointer;


box-shadow:

0 10px 25px rgba(217,140,163,.4);


}





button:hover{


transform:translateY(-4px);


}



/* CELULAR */


@media(max-width:600px){


.title-small{

font-size:25px;

}



h1{

font-size:75px;

}



.date{

font-size:22px;

}


}

.section-card{

    background:#FFF2FC;

    padding:90px 25px;

}

.card{

    max-width:700px;

    margin:auto;

    background:white;

    border-radius:30px;

    padding:60px 40px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    text-align:center;

}

.card h2{

    font-family:'Ballet', cursive;

    font-size:42px;

    color:#D98CA3;

    margin-bottom:25px;

}

.names{

    font-family:'Poppins', sans-serif;

    font-size:22px;

    line-height:2;

    color:#555;

}

.names span{

    font-size:28px;

    color:#D98CA3;

}

.divider{

    width:120px;

    height:2px;

    background:#F1C6D4;

    margin:50px auto;

}

.card::before{

content:"";

position:absolute;

inset:0;

background-image:url("../assets/img/fondo-mariposas.png");

background-repeat:no-repeat;

background-position:right bottom;

background-size:contain;

opacity:.40;

pointer-events:none;

}

.card>*{

position:relative;

z-index:2;

}

.intro{

font-size:30px;

font-family:'Great Vibes', cursive;

color:#D98CA3;

margin-bottom:10px;

}

.subtitle{

font-size:30px;

color:#D98CA3;

margin-bottom:10px;

font-family:'Great Vibes', cursive;

}

h3{

font-family:'Poppins', sans-serif;

font-size:20px;

font-weight:100;

line-height:1.0;

color:#555;

margin:1.0;

}

.ampersand{

font-size:24px;

color:#D98CA3;

margin:1.8px 0;

font-family:'Great Vibes', cursive;

}

.linea{

width:180px;

height:2px;

background:#D98CA3;

margin:60px auto;

}
